html,body{overflow-x: hidden}
body{font-family: 'Open Sans',sans-serif;color: #222222;font-size: 14px;line-height: 25px}
.h1, .h2{line-height: 28px}
.h3, .h4, .h5, .h6{line-height: 25px}
img{max-width: 100%}
.navbar-toggler{padding:0}
.breadcrumb{background: transparent; border-radius: 0; margin: 0;padding:0}

.bg-primary{background-color: #C50316!important;}
.bg-secondary{background-color: #F8F8F8!important;}
.btn{border-radius: 0; border: 0;display: inline-flex;align-items: center;padding: 7px 12px}
.btn ion-icon{margin-top:2px}
.btn-primary{background: #C50316; color: #F1F1F1;font-size:14px}
.btn-primary:hover{background: #C50316;}
.btn-primary.active, .btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle{background-color: #C50316;border-color: #C50316}

a{color: #222222}
a:hover{color: #C50316;text-decoration: none;}
a.bg-secondary:hover, a.bg-secondary:active, a.bg-secondary:focus{background: #F8F8F8!important;}

.pagination {border-radius: 0}
.page-item.active .page-link{background-color:#C50316;border-color: #C50316}
.page-link, .page-link:hover{color: #C50316}

img:not([src]) {visibility: hidden;}
/* Fixes Firefox anomaly during image load */
@-moz-document url-prefix() {img:-moz-loading {visibility: hidden;} }

.slick-slide{outline: none}
.form-control{border-radius: 0;font-size: 14px;border-color: #E6E6E6;}

.note{color:#757373}

textarea{min-height: 150px}
textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus,
button:focus, button:active, button:hover, label:focus, .btn:active, .btn.active
{outline:0 !important;-webkit-appearance:none;box-shadow: none !important;border-color: #E6E6E6!important;}
button:focus, button:active, button:hover, label:focus, .btn:active, .btn.active{border-color: transparent!important;}

#social-links ul{list-style: none; margin:0; display: flex; padding: 0}
#social-links ul li{margin-right: 5px}

.limit-1{overflow: hidden; text-overflow: ellipsis; display:-webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1}
.limit-2{overflow: hidden; text-overflow: ellipsis; display:-webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2}
.limit-3{overflow: hidden; text-overflow: ellipsis; display:-webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3}
.limit-4{overflow: hidden; text-overflow: ellipsis; display:-webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 4}
.limit-5{overflow: hidden; text-overflow: ellipsis; display:-webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 5}

.swal2-popup{border-radius: 0!important;}
.swal2-popup .swal2-title{font-size: 18px;}
.swal2-html-container{font-size: 14px;}
.swal2-styled.swal2-confirm{border-radius: 0; background-color: #C50316; border-color: #C50316!important;}

