@media screen and (max-width: 992px) {
    .banner-page{height: 120px}
    .banner-page h1{font-size: 20px}
    h3.big-text{font-size: 20px}


    .header-menu-box{padding: 5px 0;}
    .header-menu-box .navbar-nav li a{padding: 10px;border-bottom: 1px solid #ECECEC; font-size: 14px}
    .navbar-nav li:last-child a{border: none}

    .navbar .nav-head .company-name{display: inline-block; font-size: 14px; padding: 0 10px}
    .navbar .nav-head{width: 100%; display: flex}
    .header-menu-box .container{max-width: 100%;}
    .home .header-menu-box{background: #F8F8F8;position: relative;}
    .home .header-menu-box .navbar-nav li a{color: #343434}
    .home .header-menu-box .navbar-nav li > ul.dropdown-menu li a{color: #343434}

    .is-sticky .header-menu-box{border-bottom: none}
    .testimonial-slider .slick-slide.slick-current.slick-active:after{display: none}

    .workflow-section{display: none}

    .quality-section .container{padding: 0 15px}
    .quality-section .container h2{font-size: 50px; font-weight: lighter}
    .quality-section .container h4{font-weight: lighter;font-size: 16px;margin-top: 10px}
    .right-box .item img{width: 70px}
}

@media screen and (max-width: 767px) {
    .full-with-slider .slick-slide .container h2{font-size: 30px}

    a.logo{font-size: 20px;margin: 0}
    footer .top:after{display: none}

    .contact-section form,.contact-page .container,.quality-section .container .item{width: 100%}
    .right-box .item img{width: 100%}
    .related-news img,
    .right-box .item img{width: 110px; align-self: center}
    .archive .item h3{font-size: 16px}
    .navbar-toggler{padding-left: 17px;}
    .full-with-slider .slick-slide{height: 450px}
}
