h3.under-title{text-transform: uppercase; font-size: 20px; font-weight: 600;position: relative;display: inline-block}
h3.under-title:before{content: ""; width: 30%; border-bottom: 2px solid #C50316; position: absolute; left: 0; bottom: -10px; right: 0; margin: auto}
.page-section{margin-bottom: 50px}
h3.big-text{font-size: 30px}
h4{font-size: 18px; font-weight: 600}

.loader-container{position: fixed;width: 100%;height: 100%;z-index: 9999;display: none;background: #00000061}
.loader-container .loader-flex{display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;}
.loader,
.loader:after {border-radius: 50%;width: 10em;height: 10em;}
.loader {margin: 60px auto;font-size: 5px;position: relative;text-indent: -9999em;border-top: 1.1em solid rgba(255, 255, 255, 0.2);border-right: 1.1em solid rgba(255, 255, 255, 0.2);border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);border-left: 1.1em solid #ffffff;-webkit-transform: translateZ(0);-ms-transform: translateZ(0);transform: translateZ(0);-webkit-animation: load8 1.1s infinite linear;animation: load8 1.1s infinite linear;}
@-webkit-keyframes load8 {0% {    -webkit-transform: rotate(0deg);    transform: rotate(0deg);}100% {    -webkit-transform: rotate(360deg);    transform: rotate(360deg);} }
@keyframes load8 {0% {    -webkit-transform: rotate(0deg);    transform: rotate(0deg);}100% {    -webkit-transform: rotate(360deg);    transform: rotate(360deg);} }

.breadcrumb-item+.breadcrumb-item::before{display: none}
.breadcrumb-item ion-icon{margin: 2px 5px 0 5px}
.breadcrumb-item{display: flex; align-items: center}

.slick-dotted.slick-slider{margin-bottom: 0}
.slick-dots{position: absolute;bottom: 20px}
.slick-dots li{margin: 0}
.slick-dots li.slick-active button:before,
.slick-dots li button:hover:before
{color: #C50316; border: solid 1px;border-radius: 50%; opacity: 1;}
.slick-dots li button:before{width: 12px;height: 12px;line-height: 12px;font-size: 8px}

.header-menu-box{background: #F8F8F8;padding:20px 0;transition: 0.5s}
.header-menu-box .navbar{background: #F8F8F8;padding: 0 10px; z-index: 10}
.header-menu-box .navbar .navbar-collapse{background: #F8F8F8;}
.navbar-toggler ion-icon{color: #C50316;font-size: 40px}
.header-menu-box .navbar-nav li:hover > ul.dropdown-menu {display: block;}
.header-menu-box .navbar-nav .dropdown-submenu {position:relative;}
.header-menu-box .navbar-nav .dropdown-submenu>.dropdown-menu {top: 0;left: 100%;margin-top:-6px;}
.header-menu-box .navbar-nav .dropdown-menu{margin: 0}
.header-menu-box .navbar-nav .dropdown-toggle:after{display: none;}
.header-menu-box .navbar-nav li a{text-transform: uppercase; font-size: 16px;font-weight: 600; transition: 0.5s}
.home .header-menu-box .navbar-nav li a{color: #F1F1F1}
.header-menu-box .navbar-nav li > ul.dropdown-menu{border-radius: 0; border:none; background: #F8F8F8;border-top: 1px solid #C50316;padding:0}
.header-menu-box .navbar-nav li > ul.dropdown-menu li a{font-size: 14px; color: #343434;text-transform: none;font-weight: normal;padding:5px 10px;border-bottom: 1px solid #ECECEC}
.header-menu-box .navbar-nav li > ul.dropdown-menu li:last-child a{border: none}
.navbar .nav-head .company-name{display: none;font-size: 16px; text-align: center; line-height: 20px}

.home .primary-sticky{position: absolute;width: 100%;z-index: 10;top:0}
.primary-sticky:after{height: 100%; display: block; content: ""}
.home .header-menu-box{background: transparent;position: absolute;top: 0; z-index: 1;width: 100%}
.home .header-menu-box .navbar,
.header-menu-box .navbar .navbar-collapse{background: transparent}
.home .header-menu-box .navbar-nav li > ul.dropdown-menu li a{color: #343434}

.is-sticky .header-menu-box{background: #F8F8F8;padding:5px 0;border-bottom: 1px solid #b3b3b375;box-shadow: -1px 1px 5px #00000014;}
.is-sticky .header-menu-box .navbar-nav li a{color: #222222;font-size: 14px;}

.header-menu-box .navbar-nav li.active a{color: #C50316}

a.logo{color: #C50316;font-size: 36px; font-weight: 600}
a.logo span{color: #222222}
a.logo:hover{text-decoration: none}

.full-with-slider {position: relative;width: 100%;overflow: hidden}
.full-with-slider .slick-list{max-height: 100%}
.full-with-slider .slick-slide{width:100%; height: 600px;background-size: cover; background-position: center}
.full-with-slider .slick-slide .container{height: 100%}
.full-with-slider .slick-slide .container h2{font-size: 40px;font-weight: 600; color: #F8F8F8;text-transform: uppercase;margin-bottom: 40px}
.full-with-slider .slick-slide .container p{font-size: 16px;color: #F8F8F8;margin:20px 0;font-weight: 600}

footer .social ion-icon{font-size: 18px; color: #C50316; margin-right: 10px}
footer .bottom{background: #C50316; padding: 10px 0; color: #F1F0F0}
footer ul{list-style: none; padding:0}
footer h3{font-size: 16px; font-weight: 600;margin: 10px 0 20px 0;text-transform: uppercase}
footer h4{font-size: 16px;font-weight: 600;margin-bottom: 10px;}
footer .form-inline .form-control{width: 75%}
footer ul li{margin-bottom: 10px}

footer .top:after{border-left: solid 1px #F8F8F8; height: 70%; content: ""; position: absolute;top: 15%;left: 0; right: 0; margin: auto; width: 0}
footer .top {color: #F8F8F8;padding: 15px 0; margin-bottom: 40px;position: relative}

.testimonial-section{background-image: url("../img/testimonial-bg.png"); width: 100%; height: 500px; overflow: hidden}
.testimonial-slider{height: 100%}
.testimonial-slider .slick-slide{padding: 0 60px; position: relative; text-align: center; color: #F8F8F8; font-size: 14px}
.testimonial-slider .slick-slide h3{margin-top: 20px; font-size: 16px}
.testimonial-slider .slick-slide.slick-current.slick-active:after{content: ""; display: block; height: 80%; width: 1px; background: #ffffff36; position: absolute; right: 1px}
.testimonial-slider .slick-slide,
.testimonial-slider .slick-list,
.testimonial-slider .slick-track{height: 100%; }
.testimonial-slider .slick-slide .avatar{width: 60px; height: 60px; object-fit: cover;border-radius: 50%}
.testimonial-section h3{margin-top: 20px; color: #F8F8F8}
.testimonial-section h3:before{border-color: #F8F8F8}

.partner-slider .slick-prev:before{background-image: url("../img/red-arrow-prev.png")}
.partner-slider .slick-next:before{background-image: url("../img/red-arrow-next.png")}

.workflow-section h3{margin-bottom: 40px}
.workflow-section .container {position: relative; height: 600px}
.workflow-section .item{position: absolute; width: 50%; padding: 0 100px 100px}
.workflow-section .item img{width: 100px}
.workflow-section .item:after{background-image: url("../img/ic-arrow-red.png"); display: block; position: absolute;width: 138px; height: 147px; content: ""; background-repeat: no-repeat; background-size: contain}

.workflow-section .item:nth-child(1):after{left: 30%; top: calc(100% - 70px);}
.workflow-section .item:nth-child(2){left: 50%;padding-left: 50px}
.workflow-section .item:nth-child(2):after{ transform:scaleX(-1) rotate(60deg);top: calc(100% - 70px);left: 30%}
.workflow-section .item:nth-child(3){top: 300px}
.workflow-section .item:nth-child(3):after{transform: scaleX(-1) rotate(180deg); top: -90%; right: 0}
.workflow-section .item:nth-child(4){top: 300px; left: 50%}
.workflow-section .item:nth-child(4):after{transform:scaleX(-1) rotate(-5deg);top: calc(100% - 70px);left: 25%}
.workflow-section .item:nth-child(5){left: 20%; top: 500px}
.workflow-section .item:nth-child(5):after{display: none}

.our-service h4{font-size: 16px;font-weight: 600}
.our-service h3{margin-bottom: 30px}

.quality-section .container{padding: 0 200px}
.quality-section .container .item{width: 80%;margin: auto}
.quality-section .container h2{font-size: 50px; font-weight: lighter}
.quality-section .container h4{font-weight: lighter;font-size: 18px;margin-top: 10px}

.banner-page{background-image: url("../img/banner-page.png"); height: 215px; background-size: cover; color: #F1F1F1}
.banner-page h1{text-transform: uppercase; font-size: 30px;}
.banner-page .breadcrumb{margin-top:15px}
.banner-page .breadcrumb .breadcrumb-item,
.banner-page .breadcrumb .breadcrumb-item a{color: #F1F1F1}
.banner-page .breadcrumb-item.active{color: #f1f1f1c4}

.our-customize ion-icon{font-size: 20px; color: #C50316; margin-right: 5px}
.contact-section form{width: 60%; margin: auto}

.contact-page .container{width: 70%; margin: auto}
.contact-page h5{font-size: 14px; font-weight: lighter; margin-top: 10px}

.single-article h1,
.archive h1{font-size: 20px; font-weight: 600; line-height: 30px}
.single-article .content{font-size: 16px; line-height: 28px; border-bottom: 1px #eee solid; }

.related-news h3{font-size: 20px}
.right-box h3{text-transform: uppercase; font-size: 20px}
.right-box .item img{width: 110px}

.right-box h5{font-size: 16px; margin-top: 2px;margin-bottom: 0}
.why-choose, .free-advise {border-radius: 7px; border: solid 1px #eee; background: #fff}
.why-choose ion-icon{color: #6DD400; font-size: 25px}
.why-choose icon{width: 40px}
.why-choose h3, .free-advise h3{margin-top: 10px}
.why-choose p{font-weight: lighter}
.archive h2{font-size: 18px; line-height: 25px}
.archive .item {border: dotted 1px #ccc; border-radius: 7px}
.archive .item a{flex: 1}
.archive .item > div{flex: 3.5}
.archive .item h3{font-size: 16px; line-height: 25px}
.archive .item p{font-weight: lighter; text-align: justify}
