h1, h2, h3, h4, h5, h6, body{
    font-family: Arial;
}

.loader-container{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #00000042;
    z-index: 9999;
    display: none;
}
.loader-container .loader-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    margin: 60px auto;
    font-size: 5px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.draggable-menu li{
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    line-height: 20px;
}

.draggable-menu li .title-menu{
    display: block;
    min-height: 38px;
    margin: 5px 0;
    padding: 8px 12px;
    background: #F8FAFF;
    border: 1px solid #DAE2EA;
    color: #7C9EB2;
    text-decoration: none;
    font-weight: 700;
    box-sizing: border-box;
}
.draggable-menu{
    margin: 0;
}
.draggable-menu li .fa{
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
}
.draggable-menu li > ol{
    margin-left: 25px;
}
.draggable-menu li .action a{
    color: #fff;
    position: relative;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

.draggable-menu li.placeholder {
    position: relative;
    list-style: none;
    min-height: 35px;
    border: dashed red 1px;
}
.draggable-menu li.placeholder:before {
    position: absolute;
}
div.dt-button-collection div.dropdown-menu{
    width: 82px;
    padding: 10px;
}
.dataTables_wrapper .dataTables_length{
    float: left;
}
.dataTables_wrapper .dt-buttons{
    width: 100%;
    margin-bottom:20px;
}
.d-none{
    display: none;
}
.d-block{
    display: block;
}
.lfm-image{
    margin-top:10px;
}

.lfm-selector .img-container{
    position: relative;
    width: 200px;
}

.lfm-selector .img-container i.fa-remove{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    color: rgb(205, 0, 0);
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.lfm-selector .img-container img{
    width: 100%;
    max-height:150px;
    object-fit: cover;
}

.ace-nav .nav-user-photo {
    margin: -4px 8px 0 0;
    border-radius: 100%;
    border: 2px solid #FFF;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

#image-container .choose-image{
    padding: 0;
    font-size: 12px;
}
#image-container {
    margin: 0;
    list-style: none;
}
#image-container .image-item{
    margin-bottom: 20px;
}
#image-container .image-action img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}

#image-container .image-action {
    position: relative;
}

#image-container .image-action i{
    position: absolute;
    top: 0;
    left: calc(100% - 10px);
    color: #de1010;
    cursor: pointer;
    font-size: 17px;
    background: #ffffff;
    padding: 5px 7px;
    border-radius: 100%;
    box-shadow: 1px 1px 11px #0000002e;
}

